.nav {
    display: inline-block;  
    justify-content: center;
    background-color: rgb(32, 125, 165);
    border: 6px double palevioletred;
    border-radius: 7px;
    margin-top: 15px;
    margin-left: 31%;
    }

.ul {
    font-family: 'Roboto', sans-serif; 
    display: inline-flex; 
    justify-items: center;
    align-items: center; 
    list-style-type: none;
    padding: 5px;
}

a {
    padding: 12px; 
    margin: 6px; 
    color: black;
    background-color: orange; 
    border: 1px solid palevioletred;
    border-radius: 4px;
    text-decoration: none;
}
a:hover {
    color: rgb(32, 125, 165);

}

.a {
    padding: 12px; 
    margin: 6px; 
    color: whitesmoke;
    background-color: brown;
    border: 1px solid palevioletred; 
    border-radius: 4px;
    text-decoration: none;
}
.a:hover{
    color: aquamarine;
}
.a:active{
    color: rgb(59, 165, 32)
}